body{
    background: #ccc;
}
#container{
    width:350px;
    margin:0 auto;
    margin-top:8%;
}
/* Bordered form */
form {
    width:100%;
    padding: 35px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius:30px ;



}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #25d4df;
    color: white;
    padding: 10px 12px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 38%;
    border-radius: 20px;
    position: center;
    justify-content: center;
    
    
}
input[type=submit]:hover {
    background-color: white;
    color: #25d4df;
    border: 1px solid #25d4df;
    position: center;
    
}
.logo{
    text-align: center;
    text-decoration: overline;
    background-color: #25d4df;
}