* {
    margin: 0px;
    padding: 0 ;

}

.pg {
    width: 100%;
    height: 100vh;
    text-align: center;
        background: white;
        text-align: center;
        padding: 10px;    
        position: absolute;
        top: px;   
}



.viewsproject{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 30%;
    background:gray;
    background: linear-gradient(111dg, gray, #25d4df);
        text-align: center;
        padding: 10px;
         
}

.inpt {
    width: 100%;
    height: 5vh;
    font-size: 20px;
    margin-bottom: 20px;
    background: rgb(235, 235, 220);
}

.add {
    margin-bottom: 10px;
}

.in {
    width: 90%;
    margin: 20px;
}

label {
    float: left;
    font-weight: bold;
}

.submit {
    width: 30%;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    background: #25d4df;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.submit:hover {
    opacity: 0.5;
}